@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-900 bg-slate-50 transition-colors duration-300;
}

body.dark {
  @apply text-slate-100 bg-slate-900;
}

/* Base animations */
.animate-in {
  animation: animate-in 0.5s ease-out forwards;
}

@keyframes animate-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flash-green {
  0% {
    background-color: rgba(16, 185, 129, 0.4);
  }

  100% {
    background-color: transparent;
  }
}

@keyframes flash-red {
  0% {
    background-color: rgba(239, 68, 68, 0.4);
  }

  100% {
    background-color: transparent;
  }
}

.flash-up {
  animation: flash-green 1s ease-out;
}

.flash-down {
  animation: flash-red 1s ease-out;
}