# General
.DS_Store
.env
.env.local
.env.*.local
node_modules/
dist/
build/
.next/
out/
coverage/

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.idea/
.vscode/

# Firebase / GCP
.firebase/
firebase-debug.log
firebase-debug.*.log
